<div class="wrapper">
  <div class="formContainer">
    <h1>Login</h1>
    <form (ngSubmit)="handleSubmit()" #form="ngForm">
      <div class="formLabelsAndInputsContainer">
        <div class="formLabelsAndInputs">
          <label>UserName: </label>
          <input
            type="text"
            placeholder="enter your name"
            name="userName"
            [(ngModel)]="login.userName"
            required="true"
            (input)="onInputChange()"
          />
        </div>
        <br />
        <div class="formLabelsAndInputs">
          <label> Password: </label>
          <input
            type="password"
            placeholder="enter your password"
            name="passWord"
            [(ngModel)]="login.passWord"
            required="true"
            (input)="onInputChange()"
          />
        </div>
        <div *ngIf="isInvalidCredentials" class="error-message">
          Invalid userName or password
        </div>
        <button type="submit" [disabled]="!form.valid">Submit</button>
        <!-- <button (click)="handleSignup()">Signup</button> -->
      </div>
    </form>
  </div>
</div>
